body, html {
    height: 100%;
    margin: 0;
}

:root {
    --color_primario_oscuro: #011222;
    --color_primario: #02213eed;
    --color_primario_medio: #004a8f;
    --color_primario_claro: #0191bc;
    --color_secundario: goldenrod;
    --color_negro: black;
    --color_blanco: whitesmoke;
    --color_gris: rgb(183, 183, 183);
    --color_gris_oscuro: rgb(77, 76, 76);
}

h2 {
    color: var(--color_primario_claro);
    margin: 0px;
}

.main {
    background-color: var(--color_blanco);
}

.header {
    width: 100%;
    height: 20%;
    background-color: var(--color_primario_oscuro)
}

.promo{
    top: 0px;
    background-color: var(--color_negro);
    color: var(--color_blanco);
    height: 2, 5vh;
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 5px;
}

.container-logo {
    display:ruby;
    top: 25%;
    left: 3%;
    height: 7%vh;
    position: relative;
    text-align: left;
    
}

nav ul {
    list-style: none;
    padding: 1;
    display: flex;
    margin-top: -5%;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color_secundario);
    text-transform: uppercase;
}

nav a:hover,
nav a:focus {
    color: var(--color_primario_claro);
}

.container-header-nav {
    display: flex;
    justify-content:space-evenly;
}

.pcenter{
    text-align: center;
}
p{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}
ol{
    text-align: left;
    padding-left: 20%;
}
.section1 {
    background-color: var(--color_gris);
    height: 100%;
    text-align: center;
}

.section2 {
    background-color: var(--color_gris);
    width: 100%;
    margin-top: 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "content";
}

.content {
    grid-area: content;
    text-align: center;
    margin: 5%;
}

.section3-titles {

    font-size: 1.2rem;
    margin: 10px;
    color: var(--color_primario_claro);
    padding: 10px;
}

.section3 {
    height: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--color_primario_oscuro);
    padding: 2% 20% 0% 25%;
}

.section4 {
    background-color: var(--color_gris);
    width: 100%;
    min-height: 250px;
    padding-top: 10px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'content content content';
    align-items: center;
    text-align: center;
}

.section5{
    background-color: var(--color_gris);
    width: 100%;
    height: fit-content;
    min-height: 250px;
    padding-top: 10px;
    padding-bottom: 5%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.section6{
        background-color: var(--color_gris_oscuro);
        display: grid;
        grid-template-columns: auto auto auto;
        padding-left: 25%;
        padding-right: 25%;
}

.section7{
    background-color: var(--color_primario_oscuro);
    color: var(--color_secundario);
    display: grid;
    grid-template-columns: auto auto;
    padding: 0% 43% 0% 30%;
}

footer{
    background-color: var(--color_primario_oscuro);
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 15%;
    color: var(--color_secundario);
    padding: 0% 20% 0% 20%;
}

