body, html {
    height: 100%;
    margin:0;
}
:root{
    --color_primario_oscuro: #011222;
    --color_primario: #02213eed;
    --color_primario_medio: #004a8f;
    --color_primario_claro: #0191bc;
    --color_secundario: goldenrod;
    --color_negro: black;
    --color_blanco: whitesmoke;
}
.main{
    background-color: var(--color_blanco);
}

.header {
    width: 100%;
    height: 20%;
    background-color:var(--color_primario_oscuro)
}
.promo{
    top: 0px;
    background-color: var(--color_negro);
    color: var(--color_blanco);
    height: 2,5vh;
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 5px;
}

.container-logo{
    top: 25%;
    left: 3%;
    height: 7%vh;
    position: relative;
    text-align: left;
    display: flexbox;
}

nav ul {
    list-style: none;
    padding: 1;
    display: flex;
    margin-top: -5%;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color_secundario);
    text-transform: uppercase; 
}

nav a:hover, nav a:focus {
  color: #0191bc;
}  

.container-header-nav {
    display: flex;
    justify-content:space-evenly;
} 
.section1 {
    background-color: whitesmoke;
    height: 100%;
    text-align: center;
} 
.section2 {
    background-color: whitesmoke;
	width: 100%;
    min-height: 250px;
    padding-top: 10px;
	margin: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "content";
}

.content { grid-area: content; text-align: center; margin: 5%;}

h2 { 
    color: #0191bc;
    margin: 0px;
}


.section3 {
    display: grid;
    grid-template-areas:
        'item1 item2 item3';
    gap: 10px;
    background-color:#011222;
    padding: 10px;
}

.item1 { grid-area: item1; color: white;}
.item2 { grid-area: item2; color: white;}
.item3 { grid-area: item3; color: white;}

.section3 > div {
    text-align: center;
    padding: 20px 0;
    margin: 5%;
}

.section3-titles {
    font-size: 1.2rem;
    margin: 10px;
    color: #0191bc;
    padding:10px;
}

.section4 {
    background-color: whitesmoke;
	width: 100%;
    min-height: 250px;
    padding-top: 10px;
	margin: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 'content content content';
    align-items: center;
    text-align: center;
}

footer{
    background-color: var(--color_primario);
}

